<?xml version="1.0" ?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find erica_gazebo)/config/position_controller.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/erica_robot" args="joint_state_controller
                                      head_yaw_position
                                      head_roll_position
                                      head_pitch_position
				       		                    l_arm_sh_p_position
				       		    	              r_arm_sh_p_position
				       		 	                  l_arm_sh_r_position
							                        r_arm_sh_r_position
							                        l_arm_sh_y_position
							                        r_arm_sh_y_position
							                        l_arm_el_p_position
				       		    	              r_arm_el_p_position
				       		 	                  l_arm_wr_p_position
							                        r_arm_wr_p_position
							                        l_arm_wr_r_position
 							                        r_arm_wr_r_position
 							              
							  "/>

</launch>
